//---------------------------
//
// Components
// ==========
//
// Put elements in here that are found
// everywhere; not just specific to a page.
// (e.g., Modals, Grids, etc)
//
//---------------------------

.container {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 12px;
}