$ms-base: 1rem;
$ms-ratio: 1.5;

// a map that holds key value pairs for creating media queries
$breakpoints: (
	null: $breakpoint-small,
	small: $breakpoint-medium,
	large: $breakpoint-large
);

$typi: (
	null: (16px, 1.3),
	large: (18px, $ms-ratio)
);

$h1-map: (
	null: ms(1),
	small: ms(2),
	large: (ms(3), 1.25)
);

$h2-map: (
	null: ms(0),
	small: ms(1),
	large: ms(2)
);

$h3-map: (
	null: ms(0),
	small: ms(0),
	large: ms(1)
);

$h4-map: (
	null: ms(0),
	small: ms(0),
	large: ms(0)
);